In [0]:
Q1. Get the positions where elements of a and b match Input:

a = np.array([1,2,3,2,3,4,3,4,5,6]) b = np.array([7,2,10,2,7,4,9,4,9,8])

Output:

(array([1, 3, 5, 7]),)

In [0]:
import numpy as np

In [0]:
a = np.array([1,2,3,2,3,4,3,4,5,6])
b = np.array([7,2,10,2,7,4,9,4,9,8])

In [0]:
np.where(a==b)

(array([1, 3, 5, 7]),)

In [0]:
Q2. Get all items between 5 and 10 from a.

a = np.array([2, 6, 1, 9, 10, 3, 27])

In [0]:
a = np.array([2, 6, 1, 9, 10, 3, 27])

In [0]:
a[(a>=5) & (a<=10)]

array([ 6,  9, 10])

In [0]:
Q3. Swap columns 1 and 2 in the array arr.

In [0]:

arr = np.arange(9).reshape(3,3)

In [0]:
arr

array([[0, 1, 2],
       [3, 4, 5],
       [6, 7, 8]])

In [0]:
arr[:,[0,1]] = arr[:,[1,0]]

In [0]:
arr

array([[1, 0, 2],
       [4, 3, 5],
       [7, 6, 8]])

In [0]:
Q4. Reverse the rows of a 2D array arr.

In [0]:
arr = np.arange(9).reshape(3,3)

In [0]:
arr = np.arange(9).reshape(3,3)
arr

array([[0, 1, 2],
       [3, 4, 5],
       [6, 7, 8]])

In [0]:
arr[[0,1,2],:] = arr[[2,1,0],:]

In [0]:
arr

array([[6, 7, 8],
       [3, 4, 5],
       [0, 1, 2]])

In [0]:
Q5. Find the 5th and 95th percentile of iris's sepallength Note - Find input code in the next cell

In [0]:
url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data'
sepallength = np.genfromtxt(url, delimiter=',', dtype='float', usecols=[0])
sepallength

array([5.1, 4.9, 4.7, 4.6, 5. , 5.4, 4.6, 5. , 4.4, 4.9, 5.4, 4.8, 4.8,
       4.3, 5.8, 5.7, 5.4, 5.1, 5.7, 5.1, 5.4, 5.1, 4.6, 5.1, 4.8, 5. ,
       5. , 5.2, 5.2, 4.7, 4.8, 5.4, 5.2, 5.5, 4.9, 5. , 5.5, 4.9, 4.4,
       5.1, 5. , 4.5, 4.4, 5. , 5.1, 4.8, 5.1, 4.6, 5.3, 5. , 7. , 6.4,
       6.9, 5.5, 6.5, 5.7, 6.3, 4.9, 6.6, 5.2, 5. , 5.9, 6. , 6.1, 5.6,
       6.7, 5.6, 5.8, 6.2, 5.6, 5.9, 6.1, 6.3, 6.1, 6.4, 6.6, 6.8, 6.7,
       6. , 5.7, 5.5, 5.5, 5.8, 6. , 5.4, 6. , 6.7, 6.3, 5.6, 5.5, 5.5,
       6.1, 5.8, 5. , 5.6, 5.7, 5.7, 6.2, 5.1, 5.7, 6.3, 5.8, 7.1, 6.3,
       6.5, 7.6, 4.9, 7.3, 6.7, 7.2, 6.5, 6.4, 6.8, 5.7, 5.8, 6.4, 6.5,
       7.7, 7.7, 6. , 6.9, 5.6, 7.7, 6.3, 6.7, 7.2, 6.2, 6.1, 6.4, 7.2,
       7.4, 7.9, 6.4, 6.3, 6.1, 7.7, 6.3, 6.4, 6. , 6.9, 6.7, 6.9, 5.8,
       6.8, 6.7, 6.7, 6.3, 6.5, 6.2, 5.9])

In [0]:
print("5th percentile value is",np.percentile(sepallength,5))
print("95th percentile value is",np.percentile(sepallength,95))

5th percentile value is 4.6
95th percentile value is 7.254999999999998

In [0]:
#Q6. Find the positions of NaN in the sepalLength numpy arraysepalLength=iris_2d[:,0]

In [0]:
# This is the input of your question
url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data'
iris_2d = np.genfromtxt(url, delimiter=',', dtype='float')
iris_2d[np.random.randint(150, size=20), np.random.randint(4, size=20)] = np.nan

sepalLength=iris_2d[:,0]
# This is the sepalLength
sepalLength

# Write your code here
# Hint - You can use the isNan() function.

array([5.1, 4.9, 4.7, 4.6, 5. , 5.4, 4.6, 5. , 4.4, 4.9, 5.4, 4.8, 4.8,
       4.3, 5.8, 5.7, 5.4, 5.1, 5.7, 5.1, 5.4, 5.1, 4.6, 5.1, 4.8, 5. ,
       5. , 5.2, 5.2, 4.7, 4.8, 5.4, 5.2, 5.5, 4.9, 5. , nan, 4.9, 4.4,
       5.1, 5. , 4.5, 4.4, 5. , 5.1, 4.8, 5.1, 4.6, 5.3, 5. , 7. , 6.4,
       6.9, nan, 6.5, 5.7, 6.3, 4.9, 6.6, 5.2, 5. , 5.9, 6. , 6.1, 5.6,
       6.7, 5.6, 5.8, 6.2, 5.6, 5.9, 6.1, 6.3, 6.1, 6.4, 6.6, 6.8, 6.7,
       6. , 5.7, 5.5, 5.5, 5.8, 6. , 5.4, 6. , 6.7, nan, 5.6, 5.5, 5.5,
       6.1, 5.8, 5. , 5.6, 5.7, nan, 6.2, 5.1, 5.7, 6.3, 5.8, 7.1, 6.3,
       6.5, 7.6, 4.9, 7.3, 6.7, 7.2, 6.5, 6.4, 6.8, 5.7, 5.8, 6.4, 6.5,
       7.7, nan, 6. , 6.9, 5.6, 7.7, 6.3, 6.7, nan, 6.2, 6.1, 6.4, 7.2,
       7.4, 7.9, 6.4, 6.3, 6.1, 7.7, 6.3, 6.4, 6. , 6.9, 6.7, 6.9, 5.8,
       6.8, 6.7, 6.7, 6.3, 6.5, 6.2, 5.9])

In [0]:
sepalLength[np.isnan(sepalLength)] = 0

In [0]:
np.where(sepalLength==0)

(array([ 36,  53,  87,  96, 118, 125]),)

In [0]:
Q7 .Replace all the null values with 0 in the above used sepalLength array

In [0]:
sepalLength[np.isnan(sepalLength)] = 0

In [0]:
sepalLength

array([5.1, 4.9, 4.7, 4.6, 5. , 5.4, 4.6, 5. , 4.4, 4.9, 5.4, 4.8, 4.8,
       4.3, 5.8, 5.7, 5.4, 5.1, 5.7, 5.1, 5.4, 5.1, 4.6, 5.1, 0. , 5. ,
       0. , 5.2, 5.2, 4.7, 4.8, 5.4, 5.2, 5.5, 4.9, 5. , 5.5, 4.9, 4.4,
       5.1, 5. , 4.5, 4.4, 5. , 5.1, 4.8, 5.1, 4.6, 5.3, 5. , 7. , 6.4,
       6.9, 5.5, 6.5, 5.7, 6.3, 4.9, 6.6, 0. , 5. , 5.9, 6. , 6.1, 5.6,
       6.7, 5.6, 5.8, 0. , 5.6, 5.9, 6.1, 6.3, 6.1, 6.4, 6.6, 0. , 6.7,
       6. , 5.7, 5.5, 5.5, 5.8, 6. , 5.4, 6. , 6.7, 6.3, 5.6, 5.5, 5.5,
       6.1, 5.8, 5. , 0. , 5.7, 5.7, 6.2, 5.1, 5.7, 6.3, 5.8, 7.1, 6.3,
       6.5, 7.6, 4.9, 7.3, 6.7, 7.2, 6.5, 6.4, 6.8, 5.7, 5.8, 6.4, 6.5,
       7.7, 7.7, 0. , 6.9, 5.6, 7.7, 6.3, 6.7, 7.2, 6.2, 6.1, 6.4, 7.2,
       7.4, 7.9, 6.4, 6.3, 6.1, 7.7, 6.3, 6.4, 6. , 6.9, 6.7, 6.9, 5.8,
       6.8, 6.7, 6.7, 6.3, 6.5, 6.2, 5.9])

In [0]:
Q8. Find the 2nd largest value for the given array.

In [0]:
# Input
arr=np.random.randint(23,78, size=9).reshape(3,3)
arr

# Write your code here

array([[27, 43, 54],
       [42, 23, 26],
       [64, 38, 29]])

In [0]:
f = arr.flatten() ## 1d formation
f.sort() ##sorting
f[-2] ## negative indexing for second largest

54

In [0]:
Q9. From the array a, replace all values greater than 30 by 30 and less than 10 by 10.

In [0]:
a=np.random.randint(1,78, size=9).reshape(3,3)
a

array([[62, 53, 13],
       [68, 14, 69],
       [27, 38, 69]])

In [0]:
a[(a>=30)]=30
a[(a<=10)]=10
a

array([[30, 30, 13],
       [30, 14, 30],
       [27, 30, 30]])

In [0]:
Q10. Drop all nan values from a 1D numpy array

In [0]:
arr=np.array([1,2,3,np.nan,5,6,7,np.nan])
arr

# Write code here

array([ 1.,  2.,  3., nan,  5.,  6.,  7., nan])

In [0]:
arr[np.logical_not(np.isnan(arr))]

array([1., 2., 3., 5., 6., 7.])